@font-face {
  font-family: Avenir-Black;
  /* Имя шрифта */
  src: url(fonts/Avenir-Black.ttf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Avenir-Heavy;
  /* Имя шрифта */
  src: url(fonts/Avenir-Heavy.ttf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Avenir-Light;
  /* Имя шрифта */
  src: url(fonts/Avenir-Light.ttf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Avenir-Medium;
  /* Имя шрифта */
  src: url(fonts/Avenir-Medium.ttf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Avenir-Oblique;
  /* Имя шрифта */
  src: url(fonts/Avenir-Oblique.ttf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Avenir-Roman;
  /* Имя шрифта */
  src: url(fonts/Avenir-Roman.ttf);
  /* Путь к файлу со шрифтом */
}

$primary: #fff;

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #fbb315;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: $primary;

  &:hover {
    text-decoration: none;
  }
}

table {
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #444;
}


.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.header-top {

  height: 70px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 12;
  text-align: right;
}

.logo-top {
  margin-top: 10px;
  display: inline-block;

  .logo-top-img {
    height: 50px;
  }
}

p {
  margin: 0;
  padding: 0;
}


#section0,
#section1,
#section2,
#section3,
#section4,
#section5,
#section6,
#section7 {
  position: relative;
  margin-bottom: 50px;
}

#section0 {
  background: url(img/photo-1444093826349-9ce8c622f4f3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#section1,
#section3,
#section5 {
  background-color: rgb(255, 255, 255);
}


#section2 .second-block-title,
#section4,
#section4 .second-block-title {
  color: $primary;
}



#section4 {
  background-color: #022859;
  padding-bottom: 50px;
}

footer {
  background-color: #262626;
  height: 300px;
}

// main banner text

.intro {
  position: absolute;
  left: 25%;
  top: 36%;

  .site-name,
  .head-tag {
    text-transform: uppercase;
    font-family: 'Avenir-Black', Helvetica, sans-serif;
    font-size: 72px;
    letter-spacing: 30px;
    position: relative;
    margin: 0 auto;
    transform: none;
  }

  .site-name {
    color: $primary;
  }

  .head-tag {
    color: #b3b3b3;
    font-size: 23px;
    letter-spacing: 8px;
    padding-top: 20px;

    &::after {
      content: "";
      border: 2px #F25F29 solid;
      height: 0;
      display: block;
      max-width: 260px;
      margin-top: 45px;
    }

    span {
      display: block;
      padding-top: 20px;
    }
  }
}

.second-block-title {
  font-size: 30px;
  color: #333333;
  margin-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;

  &::after {
    content: "";
    border: 2px #F25F29 solid;
    height: 0;
    display: block;
    max-width: 150px;
    margin: 45px auto 0 auto;
  }
}

.contact-block-title {
  font-size: 30px;
  color: #333333;
  margin-bottom: 50px;
  padding-top: 50px;
  text-align: left;
  text-transform: uppercase;
}

// block: brand main banner bottom
.brands {
  position: absolute;
  bottom: 0;
  padding: 20px;
  background-color: #0000002e;
  width: 100%;

  img {
    max-height: 30px;
  }

  .brands-item {
    align-items: center;
    justify-content: center;
  }
}

// section 1 - HOW WE CAN HELP YOU
#section1 {
  .help-block {
    flex-wrap: wrap;
    position: relative;

    .text-column ul li {
      font-size: 16px;
      margin-bottom: 20px;
      position: relative;
      color: #717885;
    }

    .custom-header-icon-col {
      display: table-cell;
      vertical-align: middle;
      font-weight: 300;
      font-size: 18px;
      text-transform: uppercase;

      .icon-outer {
        padding-right: 15px;
      }
    }
  }

  .custom-header {
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
  }

  .container-bock {
    padding: 35px 20px 60px !important;
    border-top: 4px solid transparent;
    transition: all .2s ease-in-out;
    position: relative;

    &:hover {
      border-top: 4px solid #46a5d7;
      box-shadow: 0 0 24px 0 rgba(0, 0, 0, .08);
      border-radius: 0;

      .btn-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15px;
      }

      .btn-yellow {
        display: inline-block;
      }

      .material-icons {
        color: #ff8a00;
      }
    }

    .btn-wrapper {
      display: block;
      text-align: center;
    }

    .btn-yellow {
      display: none;
      overflow: hidden;
      position: relative;
      padding: 10px 20px;
      font-size: 16px;
      line-height: normal;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      color: $primary;
      background: #46a5d7;
      transition: background-color .2s linear;

      &:hover {
        background: #3b8bb6;
      }
    }
  }
}

// section 2 - technology

#section2 {
  background-color: #262626;
  height: 600px;
  .tech-greed {
    .techimg {
      background: url(img/technologis.png);
      display: inline-block;
      background-repeat: no-repeat;
      margin: 10px;
      width: 50px;
      height: 50px;
      transition-duration: .8s;
    }

    .img1 {
      background-position: -190px -50px;
    }

    .img2 {
      background-position: 7px -200px;
    }

    .img3 {
      background-position: -45px -200px;
    }

    .img4 {
      width: 43px;
      background-position: -95px -200px;
    }

    .img5 {
      width: 97px;
      background-position: -138px -200px;
    }

    .img6 {
      width: 98px;
      background-position: -149px -150px;
    }

    .img7 {
      width: 149px;
      background-position: 0px -150px;
    }

    .img8 {
      width: 186px;
      background-position: 0px -100px;
    }

    .img9 {
      background-position: -186px -100px;
    }

    .img10 {
      width: 256px;
      background-position: 0px 0px;
    }

    .img11 {
      width: 190px;
      background-position: 0px -50px;
    }
  }

  .tech-text {
    color: $primary;

    p {
      font-size: 25px;
      text-transform: uppercase;
    }

    .tech-btn {
      display: flex;
      justify-content: center;
      padding: 50px 0;

      button {
        padding: 5px 30px;
        font-size: 20px;
        background: #46a5d7;
        margin: 0 2px;
        border: none;
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
  supported by Chrome, Opera and Firefox */
      }
    }
  }

  .tech-zoom {

  }
  
  .tech-zoom-of {
    transform: rotate(15deg) scale(0);
  }
}


.industries-ico>p {
  border: 1px solid $primary;
  padding: 30px;
}

.industries-ico {
  text-align: center;
  margin-bottom: 20px;
}


.industries-buis {
  margin-left: -10px;
}

.indastries-text {
  display: flex;
  align-items: center;
}

.star-title,
.busi-title {
  font-size: 25px;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

#menu1 {
  height: 100%;
  position: fixed;
  background-color: #f25f29;
  opacity: 0.3;
  width: 300px;
  transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(-100%);
  left: 60px;
  z-index: 999;
}

#menu1.expanded {
  transform: translateX(0%);
  left: 0px;
  opacity: 1;
}

.menu-inner {
  width: 100%;
  height: 100%;
  position: relative;

  ul li a {
    font-size: 18px;
    padding: 20px 0;
    display: block;
    position: relative;

    &:hover {
      color: #262626;
      text-decoration: none;
      &:after, &:focus:after {
	    width: 80%; 
  }
    }
    &:after {
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      bottom: 0;
      height: 2px;
      background-color: #333;
      content: "";
      transition: width 0.4s ease-out;
    }

  }

}

#blob {
  top: 0;
  z-index: -1;
  right: 60px;
  transform: translateX(100%);
  height: 100%;
  position: absolute;
}

#blob-path {
  height: 100%;
  fill: #f25f29;
}

.hamburger {
  right: 20px;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -10px;
}

.hamburger .line {
  width: 100%;
  height: 4px;
  background-color: $primary;
  position: absolute;
}

.hamburger .line:nth-child(2) {
  top: 50%;
  margin-top: -2px;
}

.hamburger .line:nth-child(3) {
  bottom: 0;
}

#menu1 ul {
  padding: 0;
  list-style: none;
  width: 80%;
  margin-left: 10%;
  position: absolute;
  top: 10px;

  li {
    color: $primary;
    font-family: sans-serif;
    padding: 0;
  }
}




.phone {
  max-width: 400px;
  width: 100%;
  height: 200px;
  border: none;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 99999;
}

.phone input[type=radio] {
  display: none;

  &:checked+label {
    &:before {
      transform: translateY(0) scale(1);
      transition: transform 200ms 100ms ease;
    }

    span {
      animation: scaleanim 200ms ease;
    }
  }
}

nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  background: #f25f29e8;
  padding-bottom: 10px;

  label {
    height: 52px;
    width: 52px;
    text-align: center;
    transform: translateY(-6px);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      z-index: -1;
      position: absolute;
      background: $primary;
      border-radius: 100%;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translateY(16px) scale(0);
    }
  }

  span {
    font-size: 20px;
  }
}

.cursor {
  position: absolute;
  top: -12px;
  left: 0;
  height: 64px;
  width: 64px;
  background: $primary;
  border-radius: 100% 100%;
  z-index: 1;
  transition: transform 300ms ease;
  box-shadow: 2px 2px 14px -6px rgba(0, 0, 0, 0.75);
  display: flex;
  padding-top: 11px;
  justify-content: space-between;

  svg {
    position: absolute;
    top: 12px;
    fill: $primary;

    &:first-child {
      right: calc(100% - 1px);
      transform: scaleX(-1);
    }

    &:last-child {
      left: calc(100% - 1px);
    }
  }
}


#item-1:checked~.cursor {
  transform: translateX(18px);
}

#item-2:checked~.cursor {
  transform: translateX(118px);
}

#item-3:checked~.cursor {
  transform: translateX(218px);
}

#item-4:checked~.cursor {
  transform: translateX(318px);
}

@keyframes scaleanim {

  0%,
  100% {
    transform: scale(1);
  }

  40% {
    transform: scale(0.4);
  }

  60% {
    transform: scale(1.2)
  }
}

.cursor span {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;

}

.cursor .mr1 {
  background-image: url(img/menu-ml.png);
  margin-left: -12px;
}

.cursor .ml2 {
  background-image: url(img/menu-mr.png);
  margin-right: -12px;
}

.case {
  padding-bottom: 100px;

  .case-title {
    padding-bottom: 50px;

    h3 {
      padding-top: 15px;
      font-size: 20px;
      font-weight: 900;
      text-transform: uppercase;
    }
  }

  img {
    max-width: 100%;
  }

  a:hover {
    text-decoration: none;
  }
}

//slider brands

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }
} 


// form footer
.contact-form {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
  border-radius: 2px;
}

.contact-form__title {
  box-sizing: border-box;
  margin: 0 -30px 30px;
  padding: 15px 30px;
  width: calc(100% + 60px);
  line-height: 1.5;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  background:#4a90e8;
  color: #fff;
}

.contact-form__description {
  display: none;
  text-align: center;
  font-size: 18px;
}

.contact-form__input-wrapper {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contact-form__input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  box-sizing: border-box;
  border: 1px solid #e2e2e2;
  background: #fbfbfb;
  border-radius: 5px;
  font: 16px 'PT Sans',
      sans-serif;
  -webkit-appearance: none;
}

.contact-form__text {
  height: 80px;
  padding: 15px;
  resize: vertical;
  font: 16px 'PT Sans',
      sans-serif;
}

.contact-form__checkbox {
  -webkit-appearance: checkbox;
  width: 15px;
  height: 15px;
  margin: 0 15px 0 0;
}

.contact-form__checkbox-label {
  width: calc(100% - 30px);
  font-size: 13px;

  a {
    text-decoration: none;
  color: #333333;
  }
}

.contact-form__file {
  padding: 12px 15px;
}

.contact-form__error {
  font-size: 14px;
  width: 100%;
}

.contact-form__button {
  background: #f25f29;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 240px;
  margin: 30px auto 0;
  border-radius: 5px;
  height: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  transition: .3s;
  padding: 2px 0 0 0;
  align-items: center;
}

.contact-form__button:hover {
  transition: .3s;
  background: #46a5d7;
}

@media (max-width: 480px) {
  .form-wrapper {
      padding: 15px;
  }

  .contact-form {
      padding: 0 15px 15px;
  }

  .contact-form__title {
      margin: 0 -15px 30px;
      padding: 15px 30px;
      width: calc(100% + 30px);
      font-size: 18px;
  }

  .contact-form__checkbox {
      margin-top: 1px;
  }

  .contact-form__checkbox-label {
      font-size: 14px;
  }

  .contact-form__input-wrapper {
      align-items: flex-start;
  }

}

/* Стили страницы благодарности */

.thank-you-page {
  background: url('./img/bg.png') top center no-repeat;
  padding: 15px;
}

.thank-you-page__title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

.thank-you-page__descriptor {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.thank-you-page__button {
  box-sizing: border-box;
  width: 100%;
  max-width: 290px;
  margin: 0 auto;
  background: #4a90e8;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  height: 50px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;

}

.thank-you-page__button:hover {
  transition: .3s;
  background: #2eb7ab;
}